:root {
  --tw-shadow: 0 0 transparent;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --nav-bar-height: 4rem;
  --footer-height: 60px;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgba(31,41,55,var(--tw-bg-opacity));
  margin: unset;
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-600;
  @apply shadow-lg;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-200;
}
